.addiction {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #a9a9a9;
    height: 32px;
    min-width: 300px;

    p {
        font-size: 16px;
        margin-top: -2px;
    }

    .icon {
        height: 100%;
        margin-left: 3px;
    }

    .overlay {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        overflow: hidden;

        .icon {
            height: 100%;
        }
    }

    &:hover {
        background: #b9bec3;
    }
}

.addiction:hover .overlay {
    visibility: visible;
}