@import 'variables';

.strong-addiction-button {
    background: $primary-background;
    border-radius: 100px;
    border: 3px solid $primary-color;
    padding: 10px 20px;
    color: $primary-color;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}