@import 'variables';

.strong-addiction-button {
    background: #fff;
    font-weight: bold;
    border-radius: 100px;
    padding: 10px 20px;
    color: #000;
    font-size: 20px;
    border: none;
}

.shy-addiction-button {
    padding: 5px 15px;
    border-radius: 30px;
    background: #414141;
    color: #fff;
    border: none;
}