@import 'variables';

@mixin addiction-button($size, $padding-y, $padding-x) {
    font-size: $size;
    background: #fff;
    color: #000;
    padding: $padding-y $padding-x;
    font-family: $font-stack;
    border-radius: 100px;
    border: none;
}

.addiction-button-20 {
    @include addiction-button(20px, 10px, 20px);
    font-weight: bold;
}

.addiction-button-18 {
    @include addiction-button(18px, 8px, 16px);
}

.addiction-button-12 {
    @include addiction-button(12px, 5px, 15px);
    background: #414141;
}