@import 'variables';

.addiction-text-input-20 {
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
    min-width: 300px;
    text-align: center;
    border: none;
}

.addiction-text-input-20:focus {
    border: none;
    outline: none;
}