@import 'variables';

@mixin addiction-text-input($font-size, $padding-y, $padding-x) {
    font-size: $font-size;
    border-radius: 100px;
    padding: $padding-y $padding-x;
    color: #000;
    border: none;
    background: #fff;

    &:focus {
        border: none;
        outline: none;
    }
}

.addiction-text-input-18 {
    @include addiction-text-input(18px, 8px, 16px);
}

.addiction-text-input-20 {
    @include addiction-text-input(20px, 10px, 20px);
}