#addiction-prevention-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 0, 0, 0.782);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}