#add-addiction {

    #add-input {
        
        height: 34px;

        #url {
            min-width: 300px;
            width: 100%;
            padding: 6px 10px;
            font-size: 16px;
            box-sizing: border-box;
        }
    }

    #add-overlay {
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon {
        height: 100%;
    }
}