#popup {
    min-width: 600px;
    min-height: 400px;
    background-color: #2e2e2e;
    padding: 20px;

    #popup-title {
        color: #fff;
        font-family: helveticaneue;
        font-weight: bold;
        font-size: 34px;
        margin-top: -4px;
    }
}