#popup {

    min-width: 600px;
    min-height: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    color: #fff;

    #popup-title {
        color: #fff;
        font-family: helveticaneue;
        font-weight: bold;
        font-size: 34px;
        margin-top: -4px;
    }
}