#url-actions {
    margin-top: 10px;

    .url-action {
        padding: 5px 10px;
        border-radius: 100px;
        border: none;
        margin-right: 10px;

        &:hover {
            background-color: #999999;
            cursor: pointer;
        }
    }
}