.content-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .content-section-header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        color: #fff;

        h2 {
            font-size: 28px;
        }

        h3 {
            cursor: pointer;
        }
    }
}